.chart {
  display: flex;
  height: 80vh;
  border: 1px solid rgb(35, 83, 145);

  &>.progress {
    display: flex;
    align-items: last baseline;
    width: 50px;
    border: 1px solid rgb(199, 107, 107);

    &>.bar {
      background: rgb(207, 58, 58);
      height: 30%;
      width: 100%;
    }
  }

  &>.milestones {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    height: 100%;

    &>.stone {
      $border: 1px solid rgb(44, 132, 214);
      border-top: $border;
      border-bottom: $border;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
  }
}